html {
  background-color: #d1d1d1;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

/* Mixin */.transition (@prop: all, @time: 1s, @ease: linear) {
-webkit-transition: @prop @time @ease;
-moz-transition: @prop @time @ease;
-o-transition: @prop @time @ease;
-ms-transition: @prop @time @ease;
transition: @prop @time @ease;
}

header {
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  position: absolute;
  height: 55px;
  width: 100%;
  top: 5px;
  // .transition(all, 0.25s, ease-in);
}
header img {
  height: 55px;
}
// header:hover {
//   background-color: grey;
// }

/*Mixin*/.box-shadow (@x: 0px, @y: 3px, @blur: 5px, @rgba: rgba(0, 0, 0, @alpha)) {
    -webkit-box-shadow: @x @y @blur @rgba;
    -moz-box-shadow: @x @y @blur @rgba;
    box-shadow: @x @y @blur @rgba;
}

@scale: 500px;
@board-radius: 5px;

#gameboard {
  border-radius: @board-radius;
}

p {
  font: 18px Verdana;
}

h2 {
  font: 18px Verdana;
  font-weight: bold;
  color: red;
}

.scoreboard_wrapper {
  padding-top: 1%;
  padding-bottom: 2%;
  text-align: center;
  font: 20px Verdana;
  font-weight: bold;
  background-color: white;
  width: 32%;
  position: absolute;
  right: 3%;
  border-radius: @board-radius;
  .box-shadow(0, 0, 15px, rgba(0, 0, 0, 0.5));
  top: 52%;
  transform: translateY(-50%);
}

.board-wrapper {
  position: absolute;
  width: @scale;
  height: @scale;
  top: 52%;
  left: 3%;
  transform: translateY(-50%);
  border: -5px solid black;
  border-radius: @board-radius;
  .box-shadow(0, 0, 15px, rgba(0, 0, 0, 1));
}

// @media screen and (max-width: 1125px) {
//   .scoreboard_wrapper {
//     position: absolute;
//     text-align: center;
//     right: 50%;
//     left: 50%;
//     transform: translateX(-50%);
//     top: 95%;
//     width: 50%;
//     margin-bottom: 2%;
//   }
//   .board-wrapper {
//     left: 50%;
//   }
// }
